version: "3.9"

services:
  postgres-service:
    image: postgres:latest
    container_name: postgres_db
    platform: linux/arm64/v8
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: image_processor
    ports:
      - "5434:5432"
    volumes:
      - ./migration:/docker-entrypoint-initdb.d
    restart: unless-stopped

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    restart: unless-stopped

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CREATE_TOPICS: "images:1:1"
    depends_on:
      - zookeeper
    restart: unless-stopped

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka_ui
    ports:
      - "8081:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_POLLING_TIMEOUT_MS: "30000"
    depends_on:
      - kafka
    restart: unless-stopped

  app:   
    build: ./
    container_name: app
    ports:
      - "8080:8080"
    environment:
      DB_HOST: postgres-service
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: image_processor
      KAFKA_BROKER: kafka:9092
      STORAGE_PATH: /app/uploads  
    volumes:
      - ./uploads:/app/uploads  
    user: root             
    depends_on:
      - postgres-service
      - kafka
    restart: on-failure
